<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <p class="blog-title">The Tech Blog</p>
      </h1>
      <nav>
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </div>
  {{#if logged_in}}
  <script src=""></script>
  {{/if}}
</body>
</html>